.size{
  width: var(--width);
  margin: auto;
}
/* navbar */
.navbar-brand{
  margin-top: -20px !important;
  margin-right: 150px;
  color: var(--secondaryColor1);
}
.navbar-toggler-icon{
  background-color: white !important;
}
.btn-close{
  background-color: white !important;
}
.nav-section{
  text-transform: uppercase;
  background-color: var(--primaryColor) !important;
}
.navbar{
  padding: 20px 0 10px 0 !important;
  display: flex !important;
  align-items: center;
}
.navbar-nav{
  justify-content: space-between;
  /* color: var(--primaryColor); */
}
.offcanvas{
  background-color: rgba(128, 128, 128, 0.185);
  color: var(--secondaryColor1) ;
}
nav li a{
  color: var(--secondaryColor1) !important;
}
.nav-buttons{
  justify-content: space-around !important;
}
.navbar button{
  color: var(--primaryColor) !important;
  border: none;
}
/* main */
.header{
  background-image: url('./assets/images/main-background.png');
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.main{
  padding: 70px 0 40px 0 !important;
}
.main .text1{
  color:rgba(2, 64, 184, 1) ;
}
.main .text2{
  color: var(--secondaryColor1);
}
.main .text{
  font-size: 18px;
}
.main .btn1, .about .btn1, .community .btn1{
  border: 2px solid rgba(92, 136, 251, 1);
}

/* rating */
.rating{
  background-color: rgba(4, 3, 64, 1);
  padding: 100px 0 100px 0;
  
}
.rating .box, .roadmap .box {
  background-color:rgba(217, 217, 217, 0.15);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.14);
}
.rating .box h2{
  color: var(--secondaryColor1);
}

/* about */
.about{
  background-color: var(--backgroundColor);
  padding: 40px 0 50px 0;
}
.about .title{
  color: var(--secondaryColor1);
}
.about h4{
  font-size: 18px !important;
}
.about h3{
  font-size: 25px;
}
.about .utility1{
  border-bottom: thin solid rgba(2, 64, 184, 1);
  border-right: thin solid rgba(2, 64, 184, 1);
}
.about .utility2{
  border-bottom: thin solid rgba(2, 64, 184, 1);
}
.about .utility3{
  border-right: thin solid rgba(2, 64, 184, 1);;
}
/* roadmap */
.roadmap{
  background-color: var(--backgroundColor) ;
  padding: 60px 0 50px 0;
}
.roadmap .title1 , .team .title1, .fag .title1{
  font-size: 23px;
  font-weight: 700 !important;
}
.roadmap .title2 , .team .title2, .fag .title2{
  color: var(--secondaryColor1);
  font-size: 20px;
}
.roadmap .subtitle{
  color: var(--secondaryColor2);
  font-weight: 500;
}
.roadmap .box div:first-child{
  height: 30px;
  margin-top: -15px !important;
  position: absolute !important;
}
.roadmap .box div:last-child{
  margin-top: -40px;
}

/* team */
.team{
  background-color: var(--backgroundColor);
  padding: 60px 0 50px 0;
}
.team .box{
  background-image: linear-gradient(to bottom, rgba(92, 136, 251, 1),rgba(88, 174, 234, 1),rgba(114, 86, 191, 1));
}
.team .box p{
  color: var(--secondaryColor2);
}
.team .title{
  font-size: 20px;
}
.team .col-lg-4 .box{
  height: 700px;
}

/* fag */
.fag{
  background-color: var(--backgroundColor);
  padding: 80px 0 100px 0;
}
.fag .box{
  background-color: rgba(217, 217, 217, 0.28);
}
.fag .box button{
  font-size: 18px;
  font-weight: 500;
  color: var(--primaryColor);
  text-transform: uppercase;
}

/* community */
.community{
  background-image: linear-gradient( rgba(4, 3, 64, 0.836), rgba(4, 3, 64, 0.836)), url('./assets/images/community.png');
  background-size: cover;
  padding: 100px 0 100px 0;
}
.community .title1{
  font-size: 25px;
  font-weight: 600;
}
.community .title2{
  font-weight: 500;
}

/* footer */
.footer{
  background-image: linear-gradient(rgb(4, 3, 64), rgba(4, 3, 64, 0.836)),  url('./assets/images/footer.png');
  background-size: cover;
  padding: 80px 0 0 0;
}
.footer .social-media div{
  background-color: rgba(217, 217, 217, 0.3);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
.attribution{
  border-top: thin solid rgba(2, 64, 184, 1);
}

@media (max-width: 420px){
  .size{
    width: 90% !important;
    margin: auto;
  }
  /* navbar */
  .navbar-brand{
    margin-top: -20px !important;
    color: var(--secondaryColor1);
  }
  .nav-section{
    width: 100%;
    text-transform: uppercase;
    background-color: var(--primaryColor) !important;
  }
  .navbar{
    padding: 20px 0 10px 0 !important;
    display: flex !important;
    align-items: center;
  }
  .navbar-nav{
    justify-content: space-between;
  }
  .offcanvas{
    background-color: rgba(128, 128, 128, 0.185);
    color: var(--secondaryColor1) ;
  }
  nav li a{
    color: var(--secondaryColor1) !important;
  }
  .nav-buttons{
    justify-content: space-around !important;
  }
  .navbar button{
    color: var(--primaryColor) !important;
    border: none;
  }
  .nav-buttons p{
    margin: 0 !important;
  }
  /* main */
  .header{
    background-image: url('./assets/images/main-background.png');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
  }
  .main{
    padding: 80px 0 120px 0 !important;
  }
  .main .text1{
    color:rgba(2, 64, 184, 1) ;
  }
  .main .text2{
    color: var(--secondaryColor1);
  }
  .main .text{
    font-size: 18px;
  }
  .main .btn1 , .community .btn1, .about .btn1 .nav-btn{
    /* padding: 3px 10px 3px 10px !important; */
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
  .main .button1, .community .button1, .about .button1{
    /* margin: 0 !important; */
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
  .main .btn1, .about .btn1, .community .btn1{
    border: 2px solid rgba(92, 136, 251, 1);
  }

  /* rating */
  .rating{
    background-color: rgba(4, 3, 64, 1);
    padding: 100px 0 80px 0;
    margin-top: -80px;
    
  }
  .rating .box, .roadmap .box {
    background-color:rgba(217, 217, 217, 0.15);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.14);
  }
  .rating .box h2{
    color: var(--secondaryColor1);
  }
  .rating .box{
    /* margin-bottom: 20px !important; */
    padding: 0;
    margin-bottom: 20px;
  }

  /* about */
  .about{
    background-color: var(--backgroundColor);
    padding: 0px 0  0;
    margin-top: -10px !important;
  }
  .about .background{
    width: 95% !important;
  }
  .about .div1{
    margin-bottom: 20px;
  }
  .about .title{
    color: var(--secondaryColor1);
  }
  .about h4{
    font-size: 14px !important;
  }
  .about h3{
    font-size: 18px;
  }
  .about .div1{
    padding-bottom: 30px;
  }
  .about .div2{
    padding: 0 !important;
  }
  .about .btn-div{
    justify-content: space-between !important;
  }
  .about .btn1, .about .button1{
    padding: 6px 15px 6px 15px !important;
  }
  .about .button1{
    margin: 0 !important ;
  }
  .about .utility1{
    border-bottom: thin solid rgba(2, 64, 184, 1);
    border-right: thin solid rgba(2, 64, 184, 1);
  }
  .about .utility2{
    border-bottom: thin solid rgba(2, 64, 184, 1);
  }
  .about .utility3{
    border-right: thin solid rgba(2, 64, 184, 1);;
  }
  /* roadmap */
  .roadmap{
    background-color: var(--backgroundColor) ;
    padding: 30px 0 50px 0 !important;
    margin-top: -10px;
  }
  .roadmap .title1 , .team .title1, .fag .title1{
    font-size: 18px;
    font-weight: 700 !important;
  }
  .roadmap .title2 , .team .title2, .fag .title2{
    color: var(--secondaryColor1);
    font-size: 16px;
  }
  .roadmap .subtitle{
    color: var(--secondaryColor2);
    font-weight: 500;
  }
  .roadmap .box div:first-child{
    height: 30px;
    margin-top: -15px !important;
    position: absolute !important;
  }
  .roadmap .box div:last-child{
    margin-top: -40px;
  }
  .roadmap .box{
    margin-bottom: 40px;
  }

  /* team */
  .team{
    background-color: var(--backgroundColor);
    padding: 60px 0 50px 0;
    margin-top: -10px;
  }
  .team .box{
    background-image: linear-gradient(to bottom, rgba(92, 136, 251, 1),rgba(88, 174, 234, 1),rgba(114, 86, 191, 1));
  }
  .team .box p{
    color: var(--secondaryColor2);
  }
  .team .title{
    font-size: 18px;
  }
  .team .col-lg-4 .box{
    height: 550px;
  }
  .team .row{
    margin-top: 20px !important;
  }
  .team .box p{
    font-size: 12px;
  }

  /* fag */
  .fag{
    background-color: var(--backgroundColor);
    padding: 80px 0 100px 0;
  }
  .fag .box{
    background-color: rgba(217, 217, 217, 0.28);
  }
  .fag .box button{
    font-size: 15px;
    font-weight: 500;
    color: var(--primaryColor);
    text-transform: uppercase;
  }
  @keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .slide-in {
    animation: slideInFromBottom 0.5s ease-in-out forwards;
  }
  

  /* community */
  .community{
    background-image: linear-gradient( rgba(4, 3, 64, 0.836), rgba(4, 3, 64, 0.836)), url('./assets/images/community.png');
    background-size: cover;
    padding: 100px 0 100px 0;
    margin-top: -10px;
  }
  .community .title1{
    font-size: 25px;
    font-weight: 600;
  }
  .community .title2{
    font-size: 20px;
    font-weight: 500;
  }

  /* footer */
  .footer{
    background-image: linear-gradient(rgb(4, 3, 64), rgba(4, 3, 64, 0.836)),  url('./assets/images/footer.png');
    background-size: cover;
    padding: 80px 0 0 0;
  }
  .footer .social-media div{
    background-color: rgba(217, 217, 217, 0.3);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  .attribution{
    border-top: thin solid rgba(2, 64, 184, 1);
  } 
}

@media (max-width: 375px){
  .navbar-toggler{
    margin-left: -20px;
    margin-top: -10px;
  }
  .nav-btn{
    padding: 6px 25px 6px 25px !important;
  }
  .about .btn1, .about .button1{
    padding: 6px 10px 6px 10px !important;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 768px) {
  .size{
    width: 90% !important;
    margin: auto;
  }
  /* navbar */
  .navbar-brand{
    margin-top: -20px !important;
    margin-right: 150px;
    color: var(--secondaryColor1);
  }
  .navbar-toggler-icon{
    background-color: white !important;
  }
  .btn-close{
    background-color: white !important;
  }
  .nav-section{
    text-transform: uppercase;
    background-color: var(--primaryColor) !important;
  }
  .navbar{
    padding: 20px 0 10px 0 !important;
    display: flex !important;
    align-items: center;
  }
  .navbar-nav{
    justify-content: space-between;
    /* color: var(--primaryColor); */
  }
  .offcanvas{
    background-color: rgba(128, 128, 128, 0.185);
    color: var(--secondaryColor1) ;
  }
  nav li a{
    color: var(--secondaryColor1) !important;
  }
  .nav-buttons{
    justify-content: space-around !important;
  }
  .navbar button{
    color: var(--primaryColor) !important;
    border: none;
  }
  /* main */
  .header{
    background-image: url('./assets/images/main-background.png');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  .main{
    padding: 70px 0 40px 0 !important;
  }
  .main .text1{
    color:rgba(2, 64, 184, 1) ;
  }
  .main .text2{
    color: var(--secondaryColor1);
  }
  .main .text{
    font-size: 18px;
  }
  .main .btn1, .about .btn1, .community .btn1{
    border: 2px solid rgba(92, 136, 251, 1);
  }

  /* rating */
  .rating{
    background-color: rgba(4, 3, 64, 1);
    padding: 100px 0 100px 0;
    margin-top: -40px;
    
  }
  .rating .box, .roadmap .box {
    background-color:rgba(217, 217, 217, 0.15);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.14);
  }
  .rating .box h2{
    color: var(--secondaryColor1);
  }
  .rating .box{
    /* margin-bottom: 20px !important; */
    padding: 0;
    margin-bottom: 20px;
  }
  .rating .row{
    display: flex !important;
  }

  /* about */
  .about{
    background-color: var(--backgroundColor);
    padding: 40px 0 50px 0;
    margin-top: -5px;
  }
  .about .div1{
    width: 100%;
  }
  .about .div2{
    width: 100%;
    padding: 0 !important;
    /* margin-bottom: 20px; */
  }
  .about .title{
    color: var(--secondaryColor1);
  }
  .about h4{
    font-size: 18px !important;
  }
  .about h3{
    font-size: 25px;
  } 
  .about .utility1{
    border-bottom: thin solid rgba(2, 64, 184, 1);
    border-right: thin solid rgba(2, 64, 184, 1);
  }
  .about .utility2{
    border-bottom: thin solid rgba(2, 64, 184, 1);
  }
  .about .utility3{
    border-right: thin solid rgba(2, 64, 184, 1);;
  }
  /* roadmap */
  .roadmap{
    background-color: var(--backgroundColor) ;
    padding: 60px 0 50px 0;
    margin-top: -15px !important;
  }
  .roadmap .title1 , .team .title1, .fag .title1{
    font-size: 23px;
    font-weight: 700 !important;
  }
  .roadmap .title2 , .team .title2, .fag .title2{
    color: var(--secondaryColor1);
    font-size: 20px;
  }
  .roadmap .subtitle{
    color: var(--secondaryColor2);
    font-weight: 500;
  }
  .roadmap .box div:first-child{
    height: 30px;
    margin-top: -15px !important;
    position: absolute !important;
  }
  .roadmap .box div:last-child{
    margin-top: -40px;
  }
  .roadmap .box{
    margin-bottom: 40px;
  }

  /* team */
  .team{
    background-color: var(--backgroundColor);
    padding: 60px 0 50px 0;
    margin: -10px;
  }
  .team .box{
    background-image: linear-gradient(to bottom, rgba(92, 136, 251, 1),rgba(88, 174, 234, 1),rgba(114, 86, 191, 1));
  }
  .team .box p{
    color: var(--secondaryColor2);
  }
  .team .title{
    font-size: 18px;
  }
  .team .col-lg-4 .box{
    height: 550px;
  }
  .team .box p{
    font-size: 12px;
  }

  /* fag */
  .fag{
    background-color: var(--backgroundColor);
    padding: 80px 0 100px 0;
  }
  .fag .box{
    background-color: rgba(217, 217, 217, 0.28);
  }
  .fag .box button{
    font-size: 18px;
    font-weight: 500;
    color: var(--primaryColor);
    text-transform: uppercase;
  }
  @keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .slide-in {
    animation: slideInFromBottom 1s ease-in-out forwards;
  }

  /* community */
  .community{
    background-image: linear-gradient( rgba(4, 3, 64, 0.836), rgba(4, 3, 64, 0.836)), url('./assets/images/community.png');
    background-size: cover;
    padding: 100px 0 100px 0;
  }
  .community .title1{
    font-size: 25px;
    font-weight: 600;
  }
  .community .title2{
    font-weight: 500;
  }

  /* footer */
  .footer{
    background-image: linear-gradient(rgb(4, 3, 64), rgba(4, 3, 64, 0.836)),  url('./assets/images/footer.png');
    background-size: cover;
    padding: 80px 0 0 0;
  }
  .footer .social-media div{
    background-color: rgba(217, 217, 217, 0.3);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  .attribution{
    border-top: thin solid rgba(2, 64, 184, 1);
  }
}